<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Add Person</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<h1>Create a Person:</h1>
<a th:href="@{/index}">Start Page</a>
<a th:href="@{/personList}">Person List</a>
<br/><br/>
<form th:action="@{/addPerson}" th:object="${personForm}" method="POST">
    First Name:
    <label>
        <input type="text" th:field="*{firstName}" required minlength="2" maxlength="50" placeholder="max 50 characters"/>
    </label>
    <br/>
    Last Name:
    <label>
        <input type="text" th:field="*{lastName}" required minlength="2" maxlength="50" placeholder="max 50 characters"/>
    </label>
    <br/>
    Email:
    <label>
        <input type="text" th:field="*{email}" required minlength="2" maxlength="50" placeholder="max 50 characters"/>
    </label>
    <br/>
    <input type="submit" value="Create" />
    <label>
        <input type="reset" value="Clear" />
    </label>
</form>

<br/>

<!-- Check if errorMessage is not null and not empty -->
<div th:if="${errorMessage}" th:utext="${errorMessage}"
     style="color:red;font-style:italic;">
    ...
</div>

</body>
</html>