<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Person List</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<h1>Person List</h1>
<a href="index">Start Page</a>
<a href="addPerson">Add Person</a>
<a href="clearData">Clear Data</a>
<br/><br/>
<fieldset>
    <legend>Enter the user ID:</legend>
    <div class="Id">
        <form th:action="@{/userInfo}" th:object="${id}">
            <input type="submit" value="Get info">
        <label for="Id">ID:</label>
        <input type="number" id="Id" name="id" placeholder="enter the user id" />
        <span class="validity"></span>
        </form>
    </div>
</fieldset>
<br/><br/>
<div>
    <table border="1">
        <tr>
            <th>Id</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Date</th>
        </tr>
        <tr th:each ="person : ${persons}">
            <td th:utext="${person.id}">...</td>
            <td th:utext="${person.firstName}">...</td>
            <td th:utext="${person.lastName}">...</td>
            <td th:utext="${person.email}">...</td>
            <td th:utext="${person.date}">...</td>
        </tr>
    </table>
</div>
</body>
</html>