<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<h1>User information</h1>
<a th:href="@{/index}">Start Page</a>
<a th:href="@{/personList}">Person List</a>
<br/><br/>
<div>
    <table border="1">
        <tr>
            <th>Id</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Date of registration</th>
        </tr>
        <tr th:each ="person : ${persons}">
            <td th:utext="${person.id}">...</td>
            <td th:utext="${person.firstName}">...</td>
            <td th:utext="${person.lastName}">...</td>
            <td th:utext="${person.email}">...</td>
            <td th:utext="${person.date}">...</td>
        </tr>
    </table>
</div>
</html>